{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5 ">

        <div class="d-flex w-75 mx-auto flex-column justify-content-center">
            <h2 class="my-3 mx-auto">Welcome to the platform for submitting feedbacks</h2>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.optimonk.com/wp-content/uploads/2020/05/How-to-collect-user-feedback-and-analyze-it-in-2020-scaled.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://feedier.com/blog/wp-content/uploads/2019/05/woman-3083377_1920.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.optimonk.com/wp-content/uploads/2020/05/business-3.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="mt-3 text-center">
                <a href="{% url 'submit-feedback' %}" class="btn   mx-auto">Submit feedback</a>
            </div>
        </div>
    </div>
{% endblock %}