{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex flex-column">
            <h2>Submit your feedback</h2>

            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {% if errors.name %}
                        Name: {{ errors.name }}
                    {% endif %}
                    {% if errors.text %}
                        Email: {{ errors.email }}
                    {% endif %}
                    {% if errors.text %}
                        Feedback {{ errors.text }}
                    {% endif %}
                    {% if errors.file %}
                        Attached file: {{ errors.file }}
                    {% endif %}

                </div>
            {% endif %}
            <form action="{% url 'submit-feedback' %}" class="needs-validation" method="post"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                 <div class="mb-3">
                    <label for="name" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="your name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Provide you feedback</label>
                    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="feedback-file" class="form-label">Attach file to show us your report</label>
                    <input name="file" class="form-control" type="file" id="feedback-file">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}