{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            Thank you for your feedback, we get back to you soon!
            submit another feedback  <a href="{% url 'submit-feedback' %}" class="alert-link">here</a>.
        </div>
    </div>
{% endblock %}